<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Niconuts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0605142393.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Niconuts</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Producto">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contactenos">Contáctenos</a>
                        </li>  
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="background-color: #3a3a3a;color: white;">
    <br>
    <br>
      <div class="container" >
            <div class="row">
                <div class="col-md-4">
                    <h5>Niconuts Online</h5>
                    <p>
                        <h6><strong>Ofertas</strong></h6>
                        <p>Descubre nuestras promociones y ofertas actualizadas.</p>
                    </p>
                    <p>
                        <h6><strong>Tienda</strong></h6>
                        <p>Todos nuestros productos!</p>
                    </p>
                    <p>
                        <h6><strong>Nosotros</strong></h6>
                        <p>Descubre nuestra filosofía</p>
                    </p>
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="rounded mx-auto d-block">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d7801.946731554785!2d-76.97927567563666!3d-12.113974865690166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x9105c78f7ea5f96b%3A0x917a23486e7460f2!2sAraroba%20184%2C%20Lima%2015023!3m2!1d-12.1196267!2d-76.9761742!4m5!1s0x9105c73c1ecc81ef%3A0xddf1cc0569a6313d!2sDEPARTAMENTOS%20EN%20ALQUILER%20EN%20SURCO%2C%20Av%20La%20Encalada%20799%2C%20Santiago%20de%20Surco%2015023!3m2!1d-12.107906499999999!2d-76.97218459999999!5e0!3m2!1ses!2spe!4v1621047101567!5m2!1ses!2spe" class="d-block w-100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <br>
                    <div class="">
                        <h5>Medios de pago</h5>
                        <img src="https://www.avasto.pe/wp-content/uploads/2021/03/medios-de-pago-300x49.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Contáctanos</h5>
                    <p>
                        <strong>Correo:  </strong> Info@avasto.pe
                    </p>
                    <p>
                        <strong>Celular:  </strong> +51 973 387 059
                    </p>
                    <p>
                        <strong>Dirección:  </strong> Calle Araroba 184 dpto. 103, Santiago de Surco.
                    </p>

                    <h5>Politicas</h5>
                    <p>Politica de Cookies</p>
                    <p>Politiva de Privacidad de Datos Personales</p>
                    
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <footer class="border-top footer text-muted" style="background-color: #3a3a3a;">
        <div class="container" style="text-align: center;">
            &copy; 2021 - USMP - <a asp-area="" asp-controller="Home" asp-action="Index">Niconuts</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
