<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Niconuts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0605142393.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <br>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/117643703_321356452566410_2675545842212761472_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=4YACOturVJcAX-hSHvd&_nc_ht=scontent.flim15-1.fna&oh=6cbc942ecb8ffcabd3ec2139fda6777d&oe=60CB702A" width="70" height="70"alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_MenuPartial" />
                    </ul> 
                    <partial name="_LoginPartial" />
                </div>
            </div>
            <br>
        </nav>
    </header>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br>
    <br>
    <footer class="border-top footer text-muted" style="background-color: #3a3a3a;">
        <div class="container" style="text-align: center; color:white;">
            &copy; 2021 - USMP
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
