@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if(UserManager.GetUserName(User).Equals("Admi12@gmail.com")){
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity.Name !</a>
        </li>   
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark" onclick="return confirm('¿Seguro que quieres cerrar sesion?')">Salir</button>
            </form>
        </li> 
    }else{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Proforma" asp-action="Proforma"><span class="oi oi-cart"></span></a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mi Perfil</a>
    </li>   
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn__logout" onclick="return confirm('¿Seguro que quieres cerrar sesion?')">Cerrar Sesión</button>
        </form>
    </li>
    }   
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
    </li>
}
</ul>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/logeo.css" />

<style>
.btn__logout {
    padding-top: .45rem;
    font-size: 1rem;
    background: none;
    color: #000000;
    border: none;
}

.btn__logout:focus {
    outline-style: none;
}
</style>