@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    @if(UserManager.GetUserName(User).Equals("Admi12@gmail.com")){
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Administrador">Consultas</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="AdministrarReclamos" >Reclamos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="AdministrarProducto" >Productos</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Producto">Catálogo</a>
        </li>
    }else{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Producto">Catálogo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contactenos">Contáctenos</a>
        </li> 
    }
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Producto">Catálogo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contactenos">Contáctenos</a>
        </li>  
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/registro.css" />