


<div class="text-center">
    <h2>Lista de Productos</h2>

    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Buscar</button>
                </form>
                <form class="d-flex">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Ordenar por
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-value="OrderByPriceDesc">Mayor precio</a>
                            <a class="dropdown-item" href="#" data-value="OrderByPriceASC">Menor precio</a>
                        </div>
                    </div>
                </form>
            </div>
        </nav> 
    </div>
    <br>
    
 
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/153244957_463534855015235_3331639009443145995_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=QxfslFKODvMAX8XKalc&_nc_ht=scontent.flim15-1.fna&oh=bd671f4be8142485f7e96a0cb709ba6e&oe=60B29240" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer" >
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/153944077_463534245015296_1334084816232209973_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=b04wII-WrL8AX_IInxn&_nc_ht=scontent.flim15-2.fna&oh=e3f7324f78095622c4251a2d39209ad5&oe=60B3398D" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/153069944_463534238348630_1143129515746922481_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=xZVczowp86AAX_Zwdsg&_nc_oc=AQlzaeoNoCt4miTqM-gzlXc3EwUSkPXuVecwIYNz3GWsvBgfhBab5To4FsFI9Wmapto&_nc_ht=scontent.flim15-1.fna&oh=56ec16b98d73b363684d811e6ecfd0e3&oe=60B33D8D" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/151244773_458658232169564_7075124855805806417_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=FT0-khQEDpgAX9qw219&_nc_ht=scontent.flim15-2.fna&oh=79ce711bbc8d0698fcb2b0807e0255d9&oe=60B3489B" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/156876365_467633477938706_2326875957174447947_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=5s6-50OxH_sAX8ZD0rP&_nc_ht=scontent.flim15-1.fna&oh=d41f6231658970a2386de65e85ea8325&oe=60B4F83D" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/157703199_470638194304901_8626406611923242707_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=6P0ZJNsWw-cAX-EwhYn&_nc_ht=scontent.flim15-2.fna&oh=0bf3cf9b30a06614476ac2c872d48cb1&oe=60B179AC" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/161742993_476975140337873_7310630989200374757_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=CX_07uhZNi0AX9lwICM&_nc_ht=scontent.flim15-1.fna&oh=1d72a557e3041517bee234352d49fefd&oe=60B4229B" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/122610400_384711409564247_3785824913303474042_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=OThwYDp3Y9gAX9ZEPLT&_nc_ht=scontent.flim15-2.fna&oh=1436df119d2f6d1a291d04551c2ed3d6&oe=60B4B9DD" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

