@{
    ViewData["Title"] = "Catalogo";
}


<div class="text-center">
    <h2>Lista de Productos</h2>

    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Buscar</button>
                </form>
                <form class="d-flex">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Ordenar por
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-value="OrderByPriceDesc">Mayor precio</a>
                            <a class="dropdown-item" href="#" data-value="OrderByPriceASC">Menor precio</a>
                        </div>
                    </div>
                </form>
            </div>
        </nav> 
    </div>
    <br>
    
 
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer" >
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="\img\img-producto\img8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

