@{
    ViewData["Title"] = "Catalogo";
}

@model List<Producto>


<div class="text-center">
    <h2>Lista de Productos</h2>

    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Buscar</button>
                </form>
                <form class="d-flex">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Ordenar por
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="MayorPrecio" >Mayor precio</a>
                            <a class="dropdown-item" href="#" data-value="OrderByPriceASC">Menor precio</a>
                        </div>
                    </div>
                </form>
            </div>
        </nav> 
    </div>
    <br>
</div>


<div class="row catalogue-container" data-aos="fade-up">
	@foreach (var item in Model)
	{
		<div class="col-lg-4 catalogue-item filter-app">
            <div class="card h-100">
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="d-block w-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </h5>
                        S/.@Html.DisplayFor(modelItem => item.Precio)
                    </div>
                    <div class="card-footer" >
                        <form asp-action="" method="POST">
                            <input type="hidden" name="id" value="@item.id">
                            <button class="btn btn-sm btn-outline-secondary">Agregar</button>
                        </form>
                    </div>
            </div>
        </div>
	}  
</div>