@{
    ViewData["Title"] = "Catalogo";
}

@model List<Producto>


<div class="">
    <br>
    <h2>Productos</h2>
    <br>
    <div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex" method="POST">
                    <div class="dropdown">
	                <form asp-controller="Producto" asp-action="Index">
	                <select class="custom-select btn btn-outline-light" type="button" name="Ordenar"
	                    onchange="this.form.submit()">
	                    <option><i class="fas fa-leaf"></i>Ordenar por:</option>
	                    <option asp-action="MayorPrecio">Ordenar por precio: alto a bajo</option>
                        <option name="MenorPrecio">Ordenar por precio: bajo a alto</option>
	                </select>
	            </form>
            </div>
                </form>
                 <form class="d-flex" method="POST">
                    <input class="form-control me-2" type="text" name="filtro" placeholder="Buscar" required>
                    <button class="btn btn-outline-info" >Buscar</button>
                </form>
            </div>
        </nav> 
    </div>
    <br>
</div>

<div class="text-center">
<div class="row catalogue-container" data-aos="fade-up">
	@foreach (var item in Model)
	{
		<div class="col-lg-3 catalogue-item filter-app">
            <div class="card h-100">
                    <a asp-action="DescripcionProducto" asp-route-id="@item.id"><img src="@Html.DisplayFor(modelItem => item.Imagen)" class="d-block w-100"></a>
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </h5>
                        <strong>S/.@Html.DisplayFor(modelItem => item.Precio)</strong>
                    </div>
                    <div class="card-footer" >
                        <form asp-action="" method="POST">
                            <input type="hidden" name="id" value="@item.id">
                            <button  asp-action ="Add" class="btn btn-outline-success">Agregar</button>
                        </form>
                    </div>
            </div>
        </div>
	}  
</div>
</div>
<br>