<div>
    <center>
        <h1>
            Contactenos
        </h1>
    </center>
</div>
<br>



    
<table>
    <tbody>
        <tr>
            <td><img src="https://cyccomputer.pe/img/cms/X19COMPRASWEB02.jpg" alt="C&amp;C COMPUTER VENTAS" width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="...." >
                                    <img src="https://cyccomputer.pe/img/cms/X14SANDRAQUISPE.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X13GERALDINEMATEO.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="https://cyccomputer.pe/img/cms/X22ATENCIONCLIENTE.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                        <td>
                            <a href="..." >
                            <img src="https://cyccomputer.pe/img/cms/ATENCIONAL-CLIENTE.jpg"  width="534" height="175" />
                            </a>
                        </td>                      
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="https://cyccomputer.pe/img/cms/X20COMPRASWHATSAPP.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X9JESICAGRAU.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X7FELIXPRETEL.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
