@{
    ViewData["Title"] = "Contactenos";
}
<div>
    <center>
        <h1>
            Contactenos
        </h1>
    </center>
</div>
<br>



    
<table>
    <tbody>
        <tr>
            <td><img src="https://cyccomputer.pe/img/cms/X19COMPRASWEB02.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="...." >
                                    <img src="https://cyccomputer.pe/img/cms/X14SANDRAQUISPE.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X13GERALDINEMATEO.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="https://cyccomputer.pe/img/cms/X22ATENCIONCLIENTE.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                        <td>
                            <a href="..." >
                            <img src="https://cyccomputer.pe/img/cms/ATENCIONAL-CLIENTE.jpg"  width="534" height="175" />
                            </a>
                        </td>                      
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="https://cyccomputer.pe/img/cms/X20COMPRASWHATSAPP.jpg"  >
                
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X9JESICAGRAU.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X7FELIXPRETEL.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X5CYNTHIAMURRUGARRA.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X3ANTONIODONAYRE.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="https://cyccomputer.pe/img/cms/X23COMPRASFACEBOOK03.jpg"  width="1071" height="45" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                 <img src="https://cyccomputer.pe/img/cms/X15COMPRASFACEBOOK04.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="https://cyccomputer.pe/img/cms/X18COMPRASGARANTIA02.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/ALOGARANTIA.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="https://cyccomputer.pe/img/cms/X16DATOSBANCOS02.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
.clase1{

font-style:italic;

font-size:20px;

border-bottom:1px #000000 dashed;

text-align:left;

}
