@{
    ViewData["Title"] = "Contactenos";
}
<div>
    <center>
        <h1>
            Contactenos
        </h1>
    </center>
</div>
<br>

<div>
<a asp-area="" asp-controller="Home" asp-action="FormularioContacto">Tienes alguna consulta?</a>
</div>  
<br>  
<table>
    <tbody>
        <tr>
            <td><img src="\img\img-contactenos\img1.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="...." >
                                    <img src="\img\img-contactenos\img2.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img3.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="\img\img-contactenos\img4.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                        <td>
                            <a href="..." >
                            <img src="\img\img-contactenos\img5.jpg"  width="534" height="175" />
                            </a>
                        </td>                      
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="\img\img-contactenos\img6.jpg"  >
                
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img7.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img8.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img9.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img10.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="\img\img-contactenos\img11.jpg"  width="1071" height="45" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                 <img src="\img\img-contactenos\img12.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <img src="\img\img-contactenos\img13.jpg"  width="1071" height="45" />
            </td>
        </tr>
    </tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img14.jpg"  width="534" height="175" />
                                </a>
                            </td>
                            <td>
                                <a href="..." >
                                    <img src="\img\img-contactenos\img15.jpg"  width="534" height="175" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/formcontacto.css" />