@{
    ViewData["Title"] = "Contactenos";
}
<div class="container">
<div>
    <center>
        <h1>
            Contactenos
        </h1>
    </center>
</div>
<br>

<div>
    <p style="color: #000; font-size:15px">Tienes alguna <strong><a style="text-decoration: none;" asp-action="FormularioContacto">Consulta</a></strong> o  <strong><a style="text-decoration: none;" asp-action="FormularioReclamaciones">Reclamo</a></strong></p> 
</div>  
<br>  

    <div >
        <img src="\img\img-contactenos\img1.jpg"  width="1071" height="45" />
    </div>
    <br> <br>

<div class="container"  >
    <div class="row">          
             <div class="col-5"   >
                    <div class="i1">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img2.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div> 
            <div class="col-2"   >            
            </div> 
            <div class="col-5"   >
                    <div class="i1">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img3.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div>        
    </div>   
</div>
<br>

    <div >
        <img src="\img\img-contactenos\img4.jpg"  width="1071" height="45" />
    </div>
    <br> <br>
<div class="container"  >
    <div class="row">           
             <div class="col-5"   >
                    <div class="i2">
                                <a href="..." >
                                <img src="\img\img-contactenos\img5.jpg"  width="400" height="150" />
                                </a>
                    </div>
            </div>         
    </div>   
</div>
<br>


    <div >
        <img src="\img\img-contactenos\img6.jpg" width="1071" height="45"  >
    </div>
    <br> <br>
<div class="container"  >
    <div class="row">           
             <div class="col-5"   >
                    <div class="i3">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img7.jpg"  width="400" height="150"/>
                                    </a>
                    </div>
            </div>  
            <div class="col-2"   >                   
            </div> 
            <div class="col-5"   >
                    <div class="i3">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img8.jpg"  width="400" height="150"/>
                                    </a>
                    </div>
            </div>        
    </div>   
    <br>
    <div class="row">
             <div class="col-5"   >
                    <div class="i3">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img9.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div>  
            <div class="col-2">                   
            </div> 
            <div class="col-5"   >
                    <div class="i3">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img10.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div>        
    </div>  
</div>
<br>

    <div >
        <img src="\img\img-contactenos\img11.jpg"  width="1071" height="45" />
    </div>
    <br> <br>
<div class="container"  >
    <div class="row">           
             <div class="col-5"   >
                    <div class="i4">
                                    <a href="..." >
                                    <img src="\img\img-contactenos\img12.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div>         
    </div>   
</div>
<br>

    <div >
        <img src="\img\img-contactenos\img13.jpg"  width="1071" height="45" />
    </div>
    <br> <br>
<div class="container"  >
    <div class="row">          
             <div class="col-5"   >
                    <div class="i5">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img14.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div>  
            <div class="col-2"   >       
            </div> 
            <div class="col-5"   >
                    <div class="i5">
                                    <a href="..." >
                                        <img src="\img\img-contactenos\img15.jpg"  width="400" height="150" />
                                    </a>
                    </div>
            </div>        
    </div>   
</div>
</div>
<br>
<br>
<br>




<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/contacto.css" />