@{
    ViewData["Title"] = "Formulario de Reclamaciones";
}


<div>
    <center>
        <h1>
            Formulario de Reclamaciones
        </h1>
    </center>
</div>
<br>


<form action="post" class="container"  >
    <label for="">Nombre completo</label>
    <input type="text" required="required" class="form-control">
    <br>
    <label for="">Email</label>
    <input type="email" required="required" class="form-control"> 
    <br>
    <label for="">Celular</label>
    <input type="text" required="required" class="form-control">
    <br><label for="">DNI</label>
    <input type="text" required="required" class="form-control"> 
    <br>
    <label for="">Reclamacion</label>
    <textarea cols="30" rows="10" required="required" class="form-control" style="max-height: 200px;"></textarea>
    <br>
    <button type="submit" class="btn btn-lg btn-success text-light pl-5 pr-5">
        Enviar
    </button>       
</form>





