@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
  

<br>

    <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/130129520_415168089851912_6926779139133041113_n.png?_nc_cat=110&ccb=1-3&_nc_sid=e3f864&_nc_ohc=hFCir4nVDG4AX_g10tY&_nc_ht=scontent.flim15-1.fna&oh=88beff1b9435ae769a227a26c4ee6a6f&oe=60B2C0F8" class="d-block w-100" height="450" alt="...">

          </div>
          <div class="carousel-item">
            <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/121423491_370053321030056_2224229272356653011_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=730e14&_nc_ohc=gFLIqheVo6YAX9Ojg3Q&_nc_ht=scontent.flim15-2.fna&oh=3b05f51cf01e1a0d7f39aa5c58209372&oe=60B4E243" class="d-block w-100" height="450" alt="...">

          </div>
          <div class="carousel-item">
            <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/133354718_430113658357355_6907412611182681238_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=e3f864&_nc_ohc=1HiOa7MC5FEAX8HxA2f&_nc_ht=scontent.flim15-2.fna&oh=3e59869eb2c8b1af4b7ea2a0544b17cc&oe=60B20FDB" class="d-block w-100" height="450" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/123646088_387606125941442_3596815590883478486_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=WvSfcy8ArgIAX_Wukd-&_nc_ht=scontent.flim15-1.fna&oh=58a327db6900d5ad62734a4808a51c16&oe=60B20402" class="d-block w-100" height="450" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
<br>
<hr>
    <div class="container">
        <h4 style="font-family: monospace;"><strong>Promociones de la Semana</strong></h4>
        <hr>
        <br>
        
        <div class="row">
            <div class="col-md-6">
                <h5 style="font-family: Homer Simpson UI;">Promocion 1</h5>
                <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/122704661_382552239780164_2643153725530966148_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=ORnqGSH84ZoAX9CHOQJ&_nc_ht=scontent.flim15-2.fna&oh=c33ffb1036a1b95c7aa9715735ddf4bf&oe=60B01E2F" class="img-thumbnail" height="250" width="300" alt="">
            
            </div>
            <div class="col-md-6">
                <h5 style="font-family: cursive;">Promocion 2</h5>
                <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/142621552_447366493298738_445727424171297250_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=h4ueG4C8Px8AX_PbdwJ&_nc_ht=scontent.flim15-1.fna&oh=257f987f2f0e02b0ce58d44ce9c71bdb&oe=60AFA024" class="img-thumbnail" height="250" width="300" alt="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h5 >Promocion 3</h5>
                <img src="https://scontent.flim15-1.fna.fbcdn.net/v/t1.6435-9/122131065_375752157126839_7735834142448907836_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=SSxo3HsZz_wAX-xJfva&_nc_ht=scontent.flim15-1.fna&oh=4b89215d347f5ebbee3fc8dd79f8a41e&oe=60B1E12D" class="img-thumbnail" height="250" width="300" alt="">
            
            </div>
            <div class="col-md-6">
                <h5>Promocion 4</h5>
                <img src="https://scontent.flim15-2.fna.fbcdn.net/v/t1.6435-9/120861555_364784384890283_4226680017156199729_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=yq97c9fWuS4AX8Ap7AO&_nc_ht=scontent.flim15-2.fna&oh=44bc82f7a110b9812f000adbcd28fa51&oe=60B094DE" class="img-thumbnail" height="250" width="300" alt="">
            </div>
        </div>
    </div>
</div>
