@{
    ViewData["Title"] = "Metodo de Pago";
}


<div>
    <center>
        <h1>
            Metodo de Pago
        </h1>
    </center>
</div>
<br>


<div class="container"  >
    <div class="row">    
            <div class="col-2"></div> 

            <div class="col-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                    </div>
            </div> 

            <div class="col-4"   >
                    <div class="i1">                                    
                        <img src="https://www.loginstore.com/contraentrega/icono-cod.png"  width="200" height="100" />
                    </div>
            </div> 

            <div class="col-3">
                    <label class="form-check-label" for="flexCheckIndeterminate">
                            Pago contra Entrega
                    </label>
            </div> 

            <div class="col-2"></div> 
  
    </div>   
</div>















