@{
    ViewData["Title"] = "Metodo de Pago";
}


<div>
    <center>
        <h1>
            Metodo de Pago
        </h1>
    </center>
</div>
<br>






<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
    <div class="m1">
    <br>

        <div class="row">    
                    <div class="col-2"></div> 

                    <div class="col-1">
                        <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            </div>
                    </div> 

                    <div class="col-4"   >
                            <center>                       
                                <img src="https://www.loginstore.com/contraentrega/icono-cod.png"  width="150" height="100" />
                        </center>    
                    </div> 

                    <div class="col-3">
                        <br>
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                    Pago contra Entrega
                            </label>
                    </div> 

                    <div class="col-2"></div>  
        </div>   

        <br>

        <div class="row">    
                    <div class="col-2"></div> 

                    <div class="col-1">
                        <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            </div>
                    </div> 

                    <div class="col-4"   >
                            <center>                       
                                <img src="https://image.freepik.com/vector-gratis/dibujos-animados-dinero-mano-concepto-pagos-efectivo-empresario-manos-toma-dinero-cambio_221062-38.jpg"  width="150" height="100" />
                        </center>    
                    </div> 

                    <div class="col-3">
                        <br>
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                    Pago en tienda
                            </label>
                    </div> 

                    <div class="col-2"></div>  
        </div>   

        <br>

        <div class="row">    
                    <div class="col-2"></div> 

                    <div class="col-1">
                        <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            </div>
                    </div> 

                    <div class="col-4"   >
                            <center>                       
                                <img src="https://finanzas.uc.cl/images/M_images/credit-card.png"  width="150" height="100" />
                        </center>    
                    </div> 

                    <div class="col-3">
                        <br>
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                    Tarjeta de Credito o Debito
                            </label>
                    </div> 

                    <div class="col-2"></div>  
        </div>   

        <br>

        <div class="row">    
                    <div class="col-2"></div> 

                    <div class="col-1">
                        <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            </div>
                    </div> 

                    <div class="col-4"   >
                            <center>                       
                                <img src="https://image.freepik.com/vector-gratis/banca-linea-telefonos-inteligentes_24908-60026.jpg"  width="150" height="100" />
                        </center>    
                    </div> 

                    <div class="col-3">
                        <br>
                            <label class="form-check-label" for="flexCheckIndeterminate">
                                    Tarjeta de Credito o Debito
                            </label>
                    </div> 

                    <div class="col-2"></div>  
        </div>   
        <br>
        <div class="row">
            <div class="col-10"><br><br></div>  
        </div>

    </div>
    </div>
    <div class="col-1"></div>
</div>



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/estilos.css" />







