@{
    ViewData["Title"] = "Metodo de Pago";
}


<div>
    <center>
        <h1>
            Metodo de Pago
        </h1>
    </center>
</div>
<br>






<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
    <div class="f1">
    <br>



<div class="row">    
            <div class="col-2"></div> 

            <div class="col-1">
                <br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                    </div>
            </div> 

            <div class="col-4"   >
                    <center>                       
                        <img src="https://www.loginstore.com/contraentrega/icono-cod.png"  width="150" height="100" />
                   </center>    
            </div> 

            <div class="col-3">
                <br>
                    <label class="form-check-label" for="flexCheckIndeterminate">
                            Pago contra Entrega
                    </label>
            </div> 

            <div class="col-2"></div>  
    </div>   

















    </div>
    </div>
    <div class="col-1"></div>
</div>



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/contacto.css" />







