@{
    ViewData["Title"] = "Metodo de Pago";
}


<div>
    <center>
        <h1>
            Metodo de Pago
        </h1>
    </center>
</div>
<br>


<img src="https://www.loginstore.com/contraentrega/icono-cod.png"  width="200" height="100" />
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
  <label class="form-check-label" for="flexCheckIndeterminate">
    Pago contra Entrega
  </label>
</div>