<center>
@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
</center>

<div class="container">
    <div class="row">
<<<<<<< HEAD
        <div class="col">
            Progra ;v
        </div>
    </div>
    <hr>
     <div class="row">
        <div class="col-md-6">
            <h1>NicoNuts</h1>
            <img src="..." class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="col-md-6">
            <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
=======
             <div class="col-5"   >
                    <center>
                        <img src="\img\img-nosotros\img1.jpg" class="img-thumbnail" alt="...">
                    </center>
            </div>

            <div class="col-7" style=" background-color: #F3B65A; padding:10px; ">
                <center>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus libero, sapiente quae dignissimos ad, doloremque facere consequuntur ab nostrum ullam aspernatur natus perspiciatis neque, modi illo soluta? Incidunt, ex nisi.
                    </p>
                </center>
            </div>
    </div>   
</div>

<br>

<div>
    <center>
        <h1 >
            Misión
        </h1>
</center>  
</div>

<div class="container"  >
    <div class="row">

            <div class="col-7" style=" background-color: #5CC560; padding:10px; ">
                    <center>
                        <br>
                        <p>
                            Ser un empresa sólida, de fuertes valores y adecuada rentabilidad, que busca satisfacer las necesidades de nuestros clientes trabajando eficientemente y con calidad en la producción y comercialización de ingredientes para la industria alimenticia, con amplia cobertura en el mercado nacional y presencia en el mercado internacional, buscando el bien común de la sociedad y el bien particular de quienes colaboramos con ella.
                        </p>
                    </center>
            </div>

             <div class="col-5"   >
                    <center>
                            <img src="\img\img-nosotros\img2.png" class="img-thumbnail" alt="...">
                    </center>
            </div>          
    </div>   
</div>

<br>

<div>
    <center>
        <h1 >
            Visión
        </h1>
</center>  
</div>

<div class="container"  >
    <div class="row">
             <div class="col-5"   >
                    <center>
                            <img src="\img\img-nosotros\img3.jpg" class="img-thumbnail" alt="...">
                    </center>
            </div>  

            <div class="col-7" style=" background-color: #FF9090; padding:10px; ">
                    <center>
                        <br>
                        <p>
                            Ser líderes en soluciones en ingredientes con valor agregado para la industria alimenticia, convirtiéndonos en socios estratégicos de nuestros clientes y proveedores.
                        </p>
                    </center>
            </div>        
    </div>   
</div>


<br>

<div>
    <center>
        <h1 >
            Valores
        </h1>
</center>  
</div>

<div class="container"  >
    <div class="row">

            <div class="col-7" style=" background-color: #87E9F6; padding:10px; ">
                    
                        <br>
                        <p>
                             <strong>Integridad:</strong>
                             <br>
                             "    Ser recto y honesto: cumplir los compromisos"                        
                        </p>
                        <p>
                             <strong>Responsabilidad:</strong>
                             <br>
                             "    Ser consciente de nuestras palabras, decisiones o actos, libre de decidir para cumplir un compromiso.  "                        
                        </p>
                        <p>
                             <strong>Eficiencia:</strong>
                             <br>
                             "  Realizar buen una función, generando más con el uso moderado de los recursos.  "                        
                        </p>
                        <p>
                             <strong>Espíritu de Servicio:</strong>
                             <br>
                             "  Ser útil y colaborar en alguna actividad para satisfacer una necesidad  "                        
                        </p>
                        <p>
                             <strong>Trabajo:</strong>
                             <br>
                             "    Esfuerzo físico e intelectual que perfecciona a la persona, encaminado a un bien común.  "                        
                        </p>
                        <p>
                             <strong>Calidad:</strong>
                             <br>
                             "   Actitud permanente de satisfacer y superar las expectativas del cliente interno y externo.  "                        
                        </p>
                    
            </div>

             <div class="col-5"   >
                    <center>
                            <img src="\img\img-nosotros\img4.jpg" class="img-thumbnail" alt="...">
                    </center>
            </div>          
    </div>   
</div>

<br>
<div>
    <center>
        <h1 >
            Política de Calidad
        </h1>
</center>  
</div>

<div class="container"  >
    <div class="row">
             <div class="col-5"   >
                    <center>
                            <img src="\img\img-nosotros\img5.jpg" class="img-thumbnail" alt="...">
                    </center>
            </div>  

            <div class="col-7" style=" background-color: #74E1A3; padding:10px; ">
                    <center>
                        <br>
                        <p>
                            En Nutrinuts trabajamos comprometidos con Sistemas de Calidad y Seguridad Alimentaria, basados en el esquema FSSC 22000, respetando el medio ambiente, buscando siempre la mejora continua, fomentando una cultura de empresa participativa mediante la capacitación y la evaluación continua, garantizando la comunicación de esta política a todas las partes interesadas a fin de cumplir con los requisitos legales, reglamentarios y de nuestros clientes e incrementar nuestra competitividad, participación de mercado y rentabilidad.
                        </p>
                    </center>
            </div>        
    </div>   
</div>
>>>>>>> 70d4de9ee86a15859902c698e4a0af1db5dbcaf5
