<center>
@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
</center>

<div>
    <center>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aspernatur consectetur nulla nesciunt, sed et aliquam odit rerum fugit molestiae perspiciatis laborum sunt voluptate maxime nemo accusamus excepturi. Libero, perferendis?
        </p>
    </center>
</div>

<center>
    <h1>Misión</h1>
</center>

<div>
    <center>
        <p>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga placeat eum velit laudantium ab aliquid, numquam error. At cupiditate deserunt rerum, odit obcaecati corporis vero accusantium architecto optio dolorum nihil!
        </p>
    </center>
</div>
<div>
    <center>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aspernatur consectetur nulla nesciunt, sed et aliquam odit rerum fugit molestiae perspiciatis laborum sunt voluptate maxime nemo accusamus excepturi. Libero, perferendis?
        </p>
    </center>
</div>

<center>
    <h1>Visión</h1>
</center>

<div>
    <center>
        <p>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga placeat eum velit laudantium ab aliquid, numquam error. At cupiditate deserunt rerum, odit obcaecati corporis vero accusantium architecto optio dolorum nihil!
        </p>
    </center>
</div>

<div>
    <center>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam aspernatur consectetur nulla nesciunt, sed et aliquam odit rerum fugit molestiae perspiciatis laborum sunt voluptate maxime nemo accusamus excepturi. Libero, perferendis?
        </p>
    </center>
</div>

<center>
    <h1>Valores</h1>
</center>

<div>
    <center>
        <p>
         Integridad
            Ser recto y honesto: cumplir los compromisos.

        Responsabilidad
            Ser consciente de nuestras palabras, decisiones o actos, libre de decidir para cumplir un compromiso.

        Trabajo
            Esfuerzo físico e intelectual que perfecciona a la persona, encaminado a un bien común.

        Eficiencia
            Realizar buen una función, generando más con el uso moderado de los recursos.

        Espíritu de Servicio
            Ser útil y colaborar en alguna actividad para satisfacer una necesidad.

        Calidad
            Actitud permanente de satisfacer y superar las expectativas del cliente interno y externo.
        </p>
    </center>
</div>

<center>
    <h1>Política de Calidad</h1>
</center>

<div>
    <center>
        <p>En Nutryplus trabajamos comprometidos con Sistemas de Calidad y Seguridad Alimentaria, basados en el esquema FSSC 22000, respetando el medio ambiente, buscando siempre la mejora continua, fomentando una cultura de empresa participativa mediante la capacitación y la evaluación continua, garantizando la comunicación de esta política a todas las partes interesadas a fin de cumplir con los requisitos legales, reglamentarios y de nuestros clientes e incrementar nuestra competitividad, participación de mercado y rentabilidad.</p>
    </center>
</div>