<center>
@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
</center>

<div class="container"  >
    <div class="row">
             <div class="col-5"   >
                    <center>
                             <img src="https://image.freepik.com/vector-gratis/multitud-personas-mascaras-medicas-faciales-afuera_74855-5797.jpg" class="d-block w-50" alt="">
                    </center>
            </div>

            <div class="col-7" style=" background-color: #F3B65A; padding:10px; ">
                <center>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus libero, sapiente quae dignissimos ad, doloremque facere consequuntur ab nostrum ullam aspernatur natus perspiciatis neque, modi illo soluta? Incidunt, ex nisi.
                    </p>
                </center>
            </div>
    </div>   
</div>








