@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <div class="container">
        <h2>Nosotros</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur ducimus placeat expedita quod quo temporibus quas 
            reprehenderit vero sint iusto. Recusandae illum consequatur repellendus. Dolor ab doloremque distinctio obcaecati nisi!</p>
    </div>
</div>