@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Por favor, compruebe su correo electrónico para restablecer su contraseña.
    </p>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
h1{
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    letter-spacing: 1.1px;
}

p{
    text-align: center;
}

</style>