@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<br><br><br><br>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Su contraseña ha sido restablecida. Por favor, <a asp-page="./Login">haga clic aquí para iniciar la sesión</a>.
    </p>
</div>

<br><br><br><br>

<style>
h1{
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    letter-spacing: 1.1px;
}

p{
    text-align: center;
}

</style>