

body{
    background: #5c96cc; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #4ca6c2); 
    background: linear-gradient(to right, #FFFFFF, #bae9ff); 

}

footer{
    background-color: rgb(104, 199, 183);
}


.i1 {
	padding: 10px;
	border: 2px solid #04B404; 
}

.i2 {
	padding: 10px;
	border: 2px solid #FF8000; 
}
.i3 {
	padding: 10px;
	border: 2px solid #B404AE; 
}
.i4 {
	padding: 10px;
	border: 2px solid #088A85; 
}
.i5 {
	padding: 10px;
	border: 2px solid #D7DF01; 
}
.i6 {
	padding: 10px;
	border: 2px solid #2E2EFE; 
}