body{
    background-color:#2E2E2E;
}
label{
    color: white;
}
form{
    margin-top: 10px;
    background-color: #848484;
    padding: 25px ;
    border-radius: 20px; height:550px; width: 300px;
}
a{
    font-size: 18px;

}